!!!
%html
  %head
    %meta{charset:"utf-8"}
    %title
      Смартфоны
    %script{src:'js/jquery-2.1.4.min.js'}
    %script{src:'jquery.ui/jquery-ui.min.js'}
    %script{src:'js/script.js'}
    %link{rel:'stylesheet',href:'jquery.ui/jquery-ui.min.css'}
    %link{rel:'stylesheet',href:'style/style.css'}
  %body
    .headder-wrapper
      %header.container
        %nav
          %a{href:'/main.html'} Главная
          %a#catalog-dropdown Каталог
          %a{href:'#'} Скидки
          %a{href:'#'} Магазины
        %a.logo{href:'/main.html'}
        .search-user-cart-block
          %a.search{href:'#'}
          %a.user{href:'#'}
          %a.cart{href:'/cart.html'}
            %span.amount 
              2
            %span.total-price
              45000 
              .rub
    .catalog-dropdown-wrapper
      .catalog-dropdown.container
        %a.smarts{href:'#'} Смартфоны
        %a.tablets{href:'#'} Планшеты
        %a.accses{href:'#'} Аксессуары
        %a.ebooks{href:'#'} Электронные книги
        %a.cases{href:'#'} Чехлы
        %a.psp{href:'#'} PSP
        %a.headphones{href:'#'} Наушники
        %a.accums{href:'#'} Зарядные устройства
    .subheader.grey-bg
      .container
        %h1.title Cмартфоны
        .sort
          %p Сортировать по:
          .sort-dropdown-wrapper
            .sort-button
              .text Возрастанию цены 
              .triangle-down
            .sort-dropdown
              .active
                Возрастанию цены
              %div
                Убыванию цены
              %div
                Популярности
              %div
                Новинкам
        .search-amount
          Найдено 425 товаров
    .breadcrumps.container
      %a{href:'/main.html'} Каталог
      .triangle-right
      .current-page Смартфоны
    .catalog.container.grey-bot
      %form.filter
        .row
          %input.blue-button{type:'submit',value:'Подобрать'}
          %input.clear-filter{type:"reset", value:"Сбросить"} 
        .row
          .title Производитель
          .list
            .item
              %input#manufacturer_1{type: "checkbox"}
              %label{for:"manufacturer_1"} Apple
            -(2..20).each do |i|
              .item
                %input{type: "checkbox",id:"manufacturer_#{i}"}
                %label{for:"manufacturer_#{i}"} ASUS
        .row
          .title Цена
          .slider-input
            %input.price-min{:type => "text"}
            %span.divider до
            %input.price-max{:type => "text"}
          .slider-price
        .row
          .title Цвет
          .list
            .item.radio
              %input#color_1{type: "checkbox",disabled:''}
              %label{for:"color_1"} Белый
            -(2..20).each do |i|
              .item.radio
                %input{type: "checkbox", id:"color_#{i}"}
                %label{for:"color_#{i}"} Черный
        .row
          .title Размер экрана
          .slider-input
            %input.display-size-min{:type => "text"}
            %span.divider до
            %input.display-size-max{:type => "text"}
          .slider-display-size
        .row
          .title Операционная система
          .list
            .item.radio
              %input#os_1{type: "checkbox",disabled:''}
              %label{for:"os_1"} Android 4.1
            -(2..20).each do |i|
              .item.radio
                %input{type: "checkbox", id:"os_#{i}"}
                %label{for:"os_#{i}"} Android 4.#{i}
        .row
          .title Объем памяти
          .slider-input
            %input.ram-min{:type => "text"}
            %span.divider до
            %input.ram-max{:type => "text"}
          .slider-ram
        .row.lte
          .title LTE(4G)
          .item.radio
            %input#4g-yes{type: "radio",name:'4g'}
            %label{for:"4g-yes"} Есть
          .item.radio
            %input#4g-no{type: "radio",name:'4g'}
            %label{for:"4g-no"} Нет
        .row
          %input.blue-button{type:'submit',value:'Подобрать'}
          %input.clear-filter{type:"reset", value:"Сбросить"}
      .main
        %img.baner{src:'img/catalog-baner.jpg'}
        .best-offer
          %h2 ЛУЧШИЕ ПРЕДЛОЖЕНИЯ
          .item
            %a{href:'/content.html'}
              %img{src:'img/catalog-item.jpg'}
              .name Apple iPhone 6, 16GB 
              .color Silver
              .price
                .new 
                  49990 
                  .rub
                .old
                  53200
                  .rub
            .to-cart.blue-button В корзину
            .labels
              .new new
              .discount -10%
          .item
            %a{href:'/content.html'}
              %img{src:'img/catalog-item.jpg'}
              .name Apple iPhone 6, 16GB 
              .color Silver
              .price
                .new 
                  49990 
                  .rub
                .old
                  53200
                  .rub
            .to-cart.blue-button В корзину
            .labels
              .discount -10%
          .item
            %a{href:'/content.html'}
              %img{src:'img/catalog-item.jpg'}
              .name Apple iPhone 6, 16GB 
              .color Silver
              .price
                49990
                .rub  
              .to-cart.blue-button В корзину
              .labels
                .new new
        .search-result
          %h2 Apple
          -(0...15).each do
            .item
              %a{href:'/content.html'}
                %img{src:'img/catalog-item.jpg'}
                .name Apple iPhone 6, 16GB 
                .color Silver
                .price
                  49990
                  .rub  
                .to-cart.blue-button В корзину
                .labels
          .paginator-wrapper
            .paginator
              %a.back{href:'#'} Назад
              %a.p{href:'#'} 1
              %a.p.active{href:'#'} 2
              %a.p{href:'#'} 3
              %a.p{href:'#'} 4
              %a ...
              %a.p{href:'#'} 10
              %a.fw{href:'#'} Вперёд
            .show-amount
              Показывать по
              %a.active{href:'#'} 15
              %a{href:'#'} 45
    .footer-wrapper
      %footer.container
        .col-1
          %p
            © Коммуникатор, 2015 г.
          %p
            Все права защищены.
          %p.dark
            разработка сайта
          %img{src: 'img/footer-logo.png'}
        .col-2
          %a.bold{href:'/catalog.html'} Каталог
          %a{href:'#'} Смартфоны 
          %a{href:'#'} Планшеты 
          %a{href:'#'} Аксессуары 
          %a{href:'#'} Электронные книги 
          %a{href:'#'} Чехлы
          %a{href:'#'} Наушники
          %a{href:'#'} PSP
          %a{href:'#'} Зарядные устройства
        .col-3
          %a.bold{href:'#'} О компании
          %a{href:'#'} Почему мы
          %a{href:'#'} Оплата 
          %a{href:'#'} Достака
          %a{href:'#'} Скидки
          %a{href:'#'} Магазины
        .col-4
          %p.bold
            8 (800) 29 19 099 
          %p
            Россия, г. Владивосток,
          %p
            ул. Пограничная 12, офис 34
          %a.button-map{href:'#'}
            Карта проезда
    .social
      .social-wrapper
        %a.fb{href:'#'}
          facebook
        %a.vk{href:'#'}
          вконтакте
        %a.inst{href:'#'}
          Instagram
    %script{src:'js/filter.js'}